{% extends 'base.html' %}
{% block title %}Обращение №{{ feedback.id }}{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0"><i class="bi bi-chat-dots"></i> Обращение №{{ feedback.id }}</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Имя</dt>
                        <dd class="col-sm-8">{{ feedback.name }}</dd>
                        <dt class="col-sm-4">Email</dt>
                        <dd class="col-sm-8">{{ feedback.email }}</dd>
                        <dt class="col-sm-4">Телефон</dt>
                        <dd class="col-sm-8">{{ feedback.phone }}</dd>
                        {% if feedback.student_number %}
                        <dt class="col-sm-4">Номер студента</dt>
                        <dd class="col-sm-8">{{ feedback.student_number }}</dd>
                        {% endif %}
                        <dt class="col-sm-4">Дата отправки</dt>
                        <dd class="col-sm-8">{{ feedback.date_submitted|date:"d.m.Y H:i" }}</dd>
                        <dt class="col-sm-4">Статус</dt>
                        <dd class="col-sm-8">{{ feedback.get_status_display }}</dd>
                        <dt class="col-sm-4">Обрабатывает</dt>
                        <dd class="col-sm-8">{% if feedback.processing_by %}{{ feedback.processing_by.surname }} {{ feedback.processing_by.name }}{% else %}-{% endif %}</dd>
                        <dt class="col-sm-4">Начало обработки</dt>
                        <dd class="col-sm-8">{% if feedback.processing_started_at %}{{ feedback.processing_started_at|date:"d.m.Y H:i" }}{% else %}-{% endif %}</dd>
                        <dt class="col-sm-4">Окончание обработки</dt>
                        <dd class="col-sm-8">{% if feedback.processing_ended_at %}{{ feedback.processing_ended_at|date:"d.m.Y H:i" }}{% else %}-{% endif %}</dd>
                        <dt class="col-sm-4">Описание</dt>
                        <dd class="col-sm-8"><pre style="white-space: pre-line;">{{ feedback.description }}</pre></dd>
                    </dl>
                    <a href="{% url 'admin_panel' %}" class="btn btn-secondary">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 